.header .sk {
    position: absolute;
    top: 40px;
    left: 190px;
    height: 30px;
    line-height: 27px;
    border-left: 1.8px solid #c81523;
}

.sk img {
    padding-left: 12px;
}

.sk_list {
    float: left;
}

.sk_list ul li {
    float: left;
}

.sk_list ul li a {
    display: block;
    line-height: 47px;
    padding: 0 30px;
    font-size: 16px;
    font-weight: 700;
    color: #000;
}

.sk_con {
    float: left;
}

.sk_con ul li {
    float: left;
}

.sk_con ul li a {
    display: block;
    line-height: 49px;
    padding: 0 20px;
    font-size: 14px;

}

.sk_con ul li:last-child a::after {
    content: '\e91e';
    font-family: 'icomoon';
}

.clearfix:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.sk-bd ul li {
    float: left;
    width: 292px;
    height: 460px;
    border: 1px solid transparent;
    margin: 0 4px;
}

.sk-bd ul li:hover {
    border: 1px solid #e12228;
}